[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
flake8 = "*"
flake8-docstrings = "*"
pep8-naming = "*"
pytest = "*"
requests = "*"

[packages]
requests = "*"
python-dotenv = "*"
pandas = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"
plotly = "*"
sklearn = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
sqlalchemy = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
